@font-face {
  font-family: 'SpaceGrotesk';
  src: url('../../src/assets/fonts/SpaceGrotesk/variable/SpaceGroteskVariable.ttf');
  font-weight: 1 999;
  font-stretch: auto;
  font-style: normal;
}

@font-face {
  font-family: 'GTAmericaExtended';
  src: url('../../src/assets/fonts/GTAmerica/Extended/GT-America-Extended-Regular.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GTAmericaExtended';
  src: url('../../src/assets/fonts/GTAmerica/Extended/GT-America-Extended-Medium.woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'GTAmericaExpanded';
  src: url('../../src/assets/fonts/GTAmerica/Expanded/GT-America-Expanded-Light.woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GTAmericaExpanded';
  src: url('../../src/assets/fonts/GTAmerica/Expanded/GT-America-Expanded-Regular.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GTAmericaExpanded';
  src: url('../../src/assets/fonts/GTAmerica/Expanded/GT-America-Expanded-Medium.woff');
  font-weight: 600;
  font-style: normal;
}

//light 300, regular 400, medium 600

h1 {
  font-family: 'SpaceGrotesk';
  font-weight: 300;
  font-size: 52px;
  line-height: 75px;
}

h2 {
  font-family: 'GTAmericaExpanded';
  font-weight: 300;
  font-size: 46px;
}

h3 {
  font-family: 'GTAmericaExpanded';
  font-weight: 600;
  font-size: 36px;
}

h4 {
  font-family: 'GTAmericaExpanded';
  font-weight: 400;
  font-size: 24px;
  .bold {
    font-weight: 600;
  }
}

p {
  font-family: 'GTAmericaExtended';
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  .bold {
    font-weight: 600;
  }
}

a {
  font-family: 'GTAmericaExpanded';
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
}

.label {
  font-family: 'SpaceGrotesk';
  font-weight: 200;
  font-size: 18px;
  text-transform: uppercase;
}