$pink : #FF6682;
$green : #1AD093;
$purple : #691EFF;

$pink-light : #FFCDD6;
$green-light : #B2EEDB;
$purple-light : #CFB7FF;

$pink-lighter : #FFF7F9;
$green-lighter : rgb(226, 250, 243);
$purple-lighter : #FBFAFF;

$tw-blue : #0076F6;
$db-pink : #EC4988;
$lk-blue : #00669A;

$black : #000000;
$grey : #FCFCFC;
$white : #FFFFFF;

$main : $pink;
$main-light : $pink-light;
$main-lighter : $pink-lighter;
